transformers==4.27.0
scipy==1.8.0
datasets==1.2.1
pandas==1.5.3
scikit-learn==1.0.2
prettytable
gradio
torch
setuptools
dill==0.3.4
loralib 
git+https://github.com/huggingface/peft
loguru
tensorboard
dill==0.3.4
lion-pytorch